@model TodoListViewModel

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-stacked">
            @foreach (var cat in Model.TodoCategories)
            {
                <li><a asp-action="List" asp-route-id="@cat.Id">@cat.Name </a></li>
            }
        </ul>
        <a asp-controller="Category" asp-action="Create" class="btn" style="margin: 5px;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Category
        </a>
    </div>
    <div class="col-md-9">
        <a asp-controller="Todo" asp-action="Create" class="btn" style="margin: 5px;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add new task
        </a>
        <div class="dropdown" style="display: inline">
            <a asp-controller="" asp-action="" class="btn dropdown-toggle" data-toggle="dropdown" style="margin: 5px;">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Settings
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@(Model.Category == null ? 1 : Model.Category.Id)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Edit category
                    </a>
                </li>
            </ul>
        </div>

        <div class="panel-group">
            @foreach (var item in Model.TodoItems)
            {
                <div class="panel @(item.Complete ? "panel-success" : "panel-danger")">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#@item.Id">
                            @item.Title
                        </a>
                    </div>
                    <div id="@item.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Category: @item.Category.Name</p>
                            <p>Complete: @item.Complete</p>
                            <p>Date: @item.Date.DayOfWeek</p>
                        </div>
                        <div class="panel-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons md-36">create</i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons md-36">delete</i></a>
                            <a href="#"><i class="material-icons md-36">done</i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>