@model TodoListViewModel
@using CourseProject.Authorization;

@{
    Layout = "_Layout";
}

<vc:todo-category-list></vc:todo-category-list>
<div class="col-md-9">
    <a class="btn" style="margin: 5px;"
       asp-controller="Todo"
       asp-action="Create">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add new task
    </a>
    <div class="dropdown" style="display: inline">
        <a class="btn dropdown-toggle" data-toggle="dropdown" style="margin: 5px;">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            Settings
        </a>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Category"
                   asp-action="Edit"
                   asp-route-id="@(Model.Category == null ? 1 : Model.Category.Id)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit category
                </a>
            </li>
        </ul>
    </div>

    <div class="panel-group">
        @foreach (var item in Model.TodoItems)
        {
            <div class="panel @(item.Complete ? "panel-success" : "panel-danger")">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#@item.Id">
                        @item.Title
                    </a>
                </div>
                <div id="@item.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Category: @item.Category.Name</p>
                        <p>Complete: @item.Complete</p>
                        <p>Date: @item.Date.Date.ToString("d")</p>
                    </div>
                    <div class="panel-footer">
                        @{
                            var isAuthorized = await AuthorizationService.AuthorizeAsync(
                                                                User, item, Operations.Update);
                            if (isAuthorized.Succeeded)
                            {
                                <a class="btn btn-link"
                                   asp-action="Edit"
                                   asp-route-id="@item.Id">
                                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                </a>

                            }

                            var isAuthorizedToDelete = await AuthorizationService.AuthorizeAsync(
                                                                    User, item, Operations.Delete);
                            if (isAuthorizedToDelete.Succeeded)
                            {
                                <a class="btn btn-link"
                                   asp-action="Delete"
                                   asp-route-id="@item.Id">
                                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                                </a>

                            }
                        }
                        <form style="display: inline;"
                              asp-action="Done"
                              asp-route-id="@item.Id">
                            @if (item.Complete)
                            {
                                <button class="btn btn-link" type="submit">
                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-link" type="submit">
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                </button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>