@model BudgetListViewModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-stacked">
            @foreach (var budget in Model.Budgets)
            {
                <li>
                    <a class="btn btn-simple btn-info"
                       style="text-align: left;"
                       asp-action="List"
                       asp-route-id="@budget.Id">
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        @budget.Name
                    </a>
                </li>
            }
            <li>
                <a asp-action="Create" class="btn btn-simple btn-info" style="text-align: left;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add new budget
                </a>
            </li>
            <li>
                <a asp-action="Report" class="btn btn-simple btn-info" style="text-align: left;">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Monthly Report
                </a>
            </li>
        </ul>
    </div>
    @{
        if (Model.Budget != null)
        {
            <div class="col-xs-12 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Model.Budget.Name
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Amount:</b> @Model.Budget.Amount</p>
                                <p><b>Start Date:</b> @Model.Budget.StartDate.Date.ToString("d")</p>
                                <p><b>End Date:</b> @Model.Budget.EndDate.Date.ToString("d")</p>
                                @{
                                    var isAuthorized = await AuthorizationService.AuthorizeAsync(
                                                                User, Model.Budget, Operations.Update);
                                    if (isAuthorized.Succeeded)
                                    {
                                        <a class="btn btn-simple btn-info"
                                           asp-action="Edit"
                                           asp-route-id="@Model.Budget.Id">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                        </a>
                                    }

                                    var isAuthorizedToDelete = await AuthorizationService.AuthorizeAsync(
                                                                    User, Model.Budget, Operations.Delete);
                                    if (isAuthorizedToDelete.Succeeded)
                                    {
                                        <a class="btn btn-simple btn-info"
                                           asp-action="Delete"
                                           asp-route-id="@Model.Budget.Id">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                        </a>
                                    }
                                }
                                <a class="btn btn-simple btn-info"
                                   asp-controller="Expense"
                                   asp-action="Add"
                                   asp-route-budgetId="@Model.Budget.Id">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add expense
                                </a>
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" id="remainingBudget" value="@Model.Budget.RemainingBudget" />
                                <input type="hidden" id="expensesSum" value="@Model.Budget.SumExpenses" />
                                <canvas id="remaining"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-simple btn-info" style="padding: 0; margin: 0;" data-toggle="collapse" href="#expenses">Expenses</a>
                    </div>
                    <div id="expenses" class="panel-collapse collapse">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var expense in Model.Expenses)
                                        {
                                            <tr>
                                                <td>@expense.Name</td>
                                                <td>@expense.Amount</td>
                                                <td>@expense.DateTime.ToString("MMMM")</td>
                                                <td>
                                                    <a class="btn btn-info btn-xs"
                                                       asp-controller="Expense"
                                                       asp-action="Edit"
                                                       asp-route-budgetId="@Model.Budget.Id"
                                                       asp-route-expenseId="@expense.Id">Edit</a>
                                                    <a class="btn btn-danger btn-xs"
                                                       asp-controller="Expense"
                                                       asp-action="Delete"
                                                       asp-route-budgetId="@Model.Budget.Id"
                                                       asp-route-expenseId="@expense.Id">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script src="~/lib/bower/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="~/lib/bower/chart.js/samples/utils.js"></script>
    <script>
        var remaining = function () {
            return parseFloat(document.getElementById('remainingBudget').value);
        };

        var expenses = function () {
            return parseFloat(document.getElementById('expensesSum').value);
        };

        var ctx = document.getElementById('remaining').getContext('2d');
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        expenses(),
                        remaining(),

                    ],
                    backgroundColor: [
                        window.chartColors.orange,
                        window.chartColors.blue,
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Expenses",
                    "Remaining",
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Expenses/Remaining'
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        });
    </script>
}